<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
  <title>商品管理App</title>
</head>

<body class="bg-light">
  <!-- コンテナ -->
  <div class="container-fluid p-4">

    <!-- 商品一覧エリア -->
    <section class="mb-5">
      <!-- 見出し -->
      <h1 class="h4"><i class="bi bi-bag-check me-2"></i>商品一覧</h1>
      <!-- テーブル -->
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>価格</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.id}">ID</td>
            <td th:text="${product.name}">商品名</td>
            <td th:text="${product.price}">価格</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- 商品登録エリア -->
    <section class="mb-5">
      <!-- 見出し -->
      <h1 class="h4 mb-3"><i class="bi bi-bag-plus me-2"></i>商品登録</h1>
      <!-- フォーム -->
      <form th:action="@{/product/create}" method="post" class="mb-3" th:object="${productRegisterForm}">
        <!-- 行 -->
        <div class="row row-cols-auto gx-2 mb-2">
          <!-- 商品名 -->
          <div class="col">
            <label for="registerProductName">商品名</label>
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{registerProductName}">
            <div class="invalid-feedback" th:errors="*{registerProductName}"></div>
          </div>
          <!-- 価格 -->
          <div class="col">
            <label for="registerProductPrice">価格</label>
            <input type="number" class="form-control" th:errorclass="is-invalid" th:field="*{registerProductPrice}">
            <div class="invalid-feedback" th:errors="*{registerProductPrice}"></div>
          </div>
          <!-- 登録ボタン -->
          <!-- スタイル調整：バリデーションエラーが発生していない場合 -->
          <div class="col align-self-end" th:if="${!#fields.hasErrors()}">
            <button type="submit" class="btn btn-primary">登録</button>
          </div>
          <!-- スタイル調整：バリデーションエラーが発生している場合 -->
          <div class="col align-self-center" th:if="${#fields.hasErrors()}">
            <button type="submit" class="btn btn-primary">登録</button>
          </div>
        </div>
      </form>
      <!-- メッセージエリア（エラー） -->
      <div class="alert alert-danger alert-dismissible fade show w-75"
        th:if="${!#strings.isEmpty(registerErrorgMessage)}">
        <small th:text="${registerErrorgMessage}"></small>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <!-- メッセージエリア（成功） -->
      <div class="alert alert-success alert-dismissible fade show w-75"
        th:if="${!#strings.isEmpty(registerSuccessMessage)}">
        <small th:text="${registerSuccessMessage}"></small>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>

    <!-- 商品削除エリア -->
    <section class="mb-5">
      <!-- 見出し -->
      <h1 class="h4 mb-3"><i class="bi bi-bag-x me-2"></i>商品削除</h1>
      <!-- フォーム -->
      <form th:action="@{/product/delete}" method="post" class="mb-3" th:object="${productDeletionForm}">
        <!-- 行 -->
        <div class="row row-cols-auto gx-2 mb-2">
          <!-- 商品ID -->
          <div class="col">
            <label for="deletionProductId">商品ID</label>
            <input type="number" class="form-control" th:field="*{deletionProductId}">
          </div>
          <!-- 削除ボタン（商品ID） -->
          <div class="col align-self-end">
            <button type="submit" class="btn btn-danger" id="productIdDelBtn" name="isProductIdDeleteButtonClicked"
              value="true">削除</button>
          </div>
        </div>
        <!-- 行 -->
        <div class="row row-cols-auto gx-2 mb-2">
          <!-- 商品名 -->
          <div class="col">
            <label for="deletionProductName">商品名</label>
            <input type="text" class="form-control" th:field="*{deletionProductName}">
          </div>
          <!-- 削除ボタン（商品名） -->
          <div class="col align-self-end">
            <button type="submit" class="btn btn-danger" id="productNameDelBtn" name="isProductNameDeleteButtonClicked"
              value="true">削除</button>
          </div>
        </div>
      </form>
      <!-- メッセージエリア（エラー） -->
      <div class="alert alert-danger alert-dismissible fade show w-75"
        th:if="${!#strings.isEmpty(deletionErrorMessage)}">
        <small th:text="${deletionErrorMessage}"></small>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      <!-- メッセージエリア（成功） -->
      <div class="alert alert-success alert-dismissible fade show w-75"
        th:if="${!#strings.isEmpty(deletionSuccessMessage)}">
        <small th:text="${deletionSuccessMessage}"></small>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    </section>

  </div>

  <!-- jQuery -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <!-- Bootstrap -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- app.js -->
  <script th:src="@{/js/app.js}"></script>
</body>

</html>